.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidenav1 {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	background-color: #000;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	margin-right:300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wishlist_products_counter_number {
	left: 110px !important;
	right: auto !important;
}
.header-minicart {
	margin:0px 5px;
}


.footer-main #text-21 {
	width: 75% !important;
	float: right !important;
}
.footer-main #text-22 {
	float: left !important;
	margin-top: 0px !important;
	margin-left: 0px !important;
}