@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
#header .header-top {
    font-size: 13px;
}
#header .header-top .mega-menu > li.menu-item > a, #header .header-top, .welcome-msg {
    font-weight: 600;
}
#header .header-top {
    position: relative;
    z-index: 1001;
    font-size: .7857em;
}
.header-top {
    background-color: #f7f7f7 !important;
    height: 40px !important;
    /*padding-top: 8px;*/
}
.container {
    max-width: 1260px;
}
.share-links a i{
    background: #ffffff;
    color: #000;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    padding-top: 4%;
    border-radius: 50%;
    border: 1px solid #d9d8d8;
}
body {
        transition: background-color .5s !important;
        text-align: right;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        margin-top: 0%;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        color: #000;
        display: unset;
    }

    .sidenav h1 {
        margin-left: 22%;
    }

    .sidenav ul {
        list-style: none;
    }

    .sidenav ul li {
        line-height: 50px;
    }

    .sidenav ul li:hover {
        background: #f7f7f7;
    }

    .sidenav a:hover {
        color: #000;
    }

    .sidenav1 {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: #000;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav1 a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #d2d2d2;
        display: block;
    }

    .sidenav1 a:hover {
        color: #ffffff;
    }

    .sidenav1 h1 {
        margin-left: 10%;
        color: #fff !important;
    }

    .sidenav .closebtn {
        position: relative;
        top: 10px;
        left: -10px;
        font-size: 27px;
        font-weight: 100;
        margin-left: 0px;
        color: #000;
        background: #f7f7f7;
        border-radius: 50%;
    }

    .mega-menu>li.menu-item.narrow {
        width: 100% !important;
        font-size: 18px !important;
    }

    .mega-menu>li.menu-item>a {
        display: inline-block;
        font-size: .8571em;
        font-weight: 400 !important;
        line-height: 20px;
        padding: 9px 25px 8px !important;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    /* Custom Css Added When Customization */

    a.closebtn {
        padding: 0 13px;
    }

    .dropbtn {
        /* background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none; */
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 250px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .dropdown-content a {
        color: black;
        /* padding: 12px 16px; */
        text-decoration: none;
        display: block;
    }



    .dropdown:hover .dropdown-content {
        display: block;
        right: 0px;
    }

    .dropdown-content {
        /* width: 340px; */
        margin: 0px auto;
    }
    .dropdown-content form {
        /* margin-bottom: 15px; */
        background: #fff;
        /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
        padding: 30px 20px 0px 20px;
    }
    .dropdown-content h2 {
        margin: 0 0 15px;
    }
    .dropdown-content, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
    input.form-control {
    background-color: #f7f7f7;
    margin: 0 0px -10px 0px;
    border: 0;
    }
p.text-center {
    margin: 0px;
    background-color: lightgrey;
    padding: 10px;
}
a.pull-right {
    margin-top: -15px;
}
.searchbar {
  font-size: 2.4rem;
  width: 25rem;
  height: 5rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  padding: 2rem;
  /*position: relative;*/
  transition: all .2s;
  transition-delay: .1s;
}

.button {
  height: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  transition: all .2s;
  transition-delay: .1s;
}

.button:hover {
  cursor: pointer;
}
#minimal-bootstrap-carousel {
    margin-top: 0px;
    position: relative;
    height: 520px;
}
#minimal-bootstrap-carousel .carousel-inner{
    height: 520px;
}

#minimal-bootstrap-carousel .carousel-caption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    text-align: right;
    text-shadow: none;
}

#minimal-bootstrap-carousel .carousel-caption .container {
    display: table;
    width: 100%;
    height: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 1199px) {
    #minimal-bootstrap-carousel .carousel-caption .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    #minimal-bootstrap-carousel .carousel-caption .container {
        max-width: 720px;
    }
}

#minimal-bootstrap-carousel .carousel-caption .container .box {
    display: table-cell;
    text-align: left;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-top {
    vertical-align: top;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-bottom {
    vertical-align: bottom;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-middle {
    vertical-align: middle;
}

#minimal-bootstrap-carousel .carousel-caption .container .box .content {
    display: block;
}
#minimal-bootstrap-carousel [class*=carousel-control]:hover{
    background: #a2a2a2;
}
.product-box-button .fa-chevron-right {
    float: right;
    vertical-align: middle;
    margin-top: 1%;
}
#minimal-bootstrap-carousel [class*=carousel-control] {
    background: none;
    width: 45px;
    height: 45px;
    font-size: 30px;
    line-height: 48px;
    color: #000;
    background-color: transparent;
    visibility: visible !important;
    opacity: 1;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    border-radius: 50%;
}
.valign-middle .content h4{
    font-size: 45px;
    margin-bottom: 30px;
}
.valign-middle .content h4:last-child{
    margin-bottom: 0px;
}

@media (max-width: 667px) {
    #minimal-bootstrap-carousel [class*=carousel-control] {
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
    }
}

@media (max-width: 480px) {
    #minimal-bootstrap-carousel [class*=carousel-control] {
        width: 40px;
        height: 40px;
        font-size: 17px;
        line-height: 40px;
        background: rgba(255, 255, 255, 0.4);
        color: #000;
    }
}

#minimal-bootstrap-carousel .carousel-control-prev {
    left: 1%;
    right: 96%;
}

#minimal-bootstrap-carousel .carousel-control-next {
    right: 1%;
    left: 96%;
}
/* fixing slider height */
#minimal-bootstrap-carousel.slider-home-one .carousel-inner .carousel-item {
    min-height: 520px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #222;
}


.slider-content-style .content {
    text-align: center;
    position: relative;
    z-index: 999;
}

.slider-content-style .content h3,
.slider-content-style .content h2,
.slider-content-style .content p {
    margin: 0;
}

.slider-content-style .content h3 {
    color: #fff;
    font-size: 100px;
    line-height: 1em;
    font-weight: 600;
    font-family: 'Josefin Sans';
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.slider-content-style .content p {
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: .150em;
    margin-top: 20px;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.slider-content-style .content a.thm-btn {
    background: #ffffff;
    display: inline-block;
    vertical-align: middle;
    color: #222222;
    font-size: 18px;
    letter-spacing: .1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 10px 17px;
    margin-top: 9px;
    transition: all .4s ease;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    width: 18%;
    text-align: right;
    font-weight: 700;
}

.slider-content-style .content a.thm-btn:hover {
    background: #fff;
    text-decoration: none;
}
.home-product-section{
    padding: 30px 0px;
}
.product-box-title{
    margin-top: 30px;
    text-align: center;
}
.product-box-title h3{
    font-weight: 700;
    font-size: 35px;
}
.product-box-button {
    background: #000000;
    color: #ffffff;
    /* padding: 5% 30%; */
    transition: 1s;
    text-align: left;
    width: 60%;
    position: absolute;
    left: 21%;
    height: 50px;
    padding-top: 3%;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
}
.product-box-button:hover{
    border: 2px solid #000;
    background: none;
    color: #000000;
    text-decoration: none;
    padding-top: 2.5%;
    padding-left: 19px;
}
.product-box-button .fa-chevron-right{
    text-align: right;
    margin-left: 58%;
}
#footer .footer-main {
    background-color: #000 !important;
    color: #fff;
    margin-top: 5%;
}
#footer {
    background-color: #403f3f;
    background-repeat: repeat;
    background-attachment: scroll;
}
.footer-main #text-20 {
    width: 75% !important;
    float: right;
}
#footer .widget-title {
    font-size: 1.23em;
    text-transform: none;
}
#footer .widget_wysija_cont .wysija-paragraph {
    width: 50% !important;
}
#footer .widget_wysija_cont .wysija-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 1px;
    width: 100%;
}
#footer .widget_wysija_cont .wysija-input, #footer .widget_wysija_cont .wysija-submit {
    height: 44px;
    font-size: 0.75rem;
    border-width: 0;
    background-clip: border-box;
}
.wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] {
    direction: ltr;
}
.wysija-input::placeholder {
  color: #ffffff;
  opacity: 1; /* Firefox */
}

.wysija-input::-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ffffff;
}

.wysija-input::-ms-input-placeholder { /* Microsoft Edge */
 color: #ffffff;
}
.widget_wysija_cont .wysija-input {
    border-radius: 0 !important;
    font-style: unset !important;
    background: #4b4a4a !important;
}
#footer .widget_wysija_cont .d-table-cell>.wysija-submit {
    display: block;
}
#footer .widget_wysija_cont .wysija-submit {
    border-left: none;
    display: table-cell;
    vertical-align: top;
    margin: 0 0 0 -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#footer .widget_wysija_cont .wysija-input, #footer .widget_wysija_cont .wysija-submit {
    height: 44px;
    font-size: 0.75rem;
    border-width: 0;
    background-clip: border-box;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.widget_wysija_cont .wysija-submit {
    border-radius: 0 !important;
}
.widget_wysija_cont .wysija-submit {
    font-size: 1em;
    padding: 10px 35px 10px 30px;
    border-radius: 0 24px 24px 0;
    height: 48px;
}
html .btn-quaternary {
    color: #ffffff;
    background-color: #2b2929 !important;
}
html .btn-quaternary {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000 #000000 #000000;
}
#header, #header .header-main .header-contact .nav-top > li > a, #header .top-links > li.menu-item:before {
    color: #777777;
    border-bottom: 1px solid #a3a3a3;
}
.footer-sharelinks{
    margin-top: 5%;
    border: none!important
}
.footer-main #text-16 {
    float: left !important;
    margin-top: 0px !important;
    margin-left: 21px !important;
}
#footer a:not(.btn), #footer .tooltip-icon {
    color: #fff;
}
.footer-main .row .col-lg-6, .footer-main .row .col-lg-2 {
    border-right: 1px solid rgba(128, 128, 128, 0.5);
    padding-left: 30px;
}
.footer-sharelinks .share-links a{
    color: #000;
}
.website-link ul li{
    margin-bottom: 10px!important;
}
.forgot-password{
    margin-top: 15%;
}
#mySidenav1 ul{
    list-style: none;
    padding-left: 0px;
}
#mySidenav1 ul li a {
    color: #ffffff;
    font-size: 15px;
}
.page-sec-title h2{
    font-weight: 700;
}
.form-title h4{
    font-weight: 700
}
.border-bottom{
    border-bottom: 2px solid #a2a2a2!important;
    margin-bottom: 20px;
}
.form-control-plaintext{
    background: #f7f7f7;
    border: none!important;
    height: 50px!important;
}
.form-submit-btn{
    background: #000;
    color: #ffffff;
    padding: 8px 10px;
    text-align: left;
    width: 15%;
    float: right;
    margin-bottom: 30px;
    transition: 1s;
}
.fa-chevron-right{
    float: right;
    vertical-align: middle;
    margin-top: 5%;
}
.form-submit-btn:hover{
    cursor: pointer;
    border: 2px solid #000;
    background: none;
    color: #000;
    padding: 7px 10px
}
.new-account-page-section{
    padding-top: 60px;
}
.our-story-section{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.porto-u-main-heading h2{
    font-weight:700;
    color:#21293c;
    font-size:19px;
    text-transform: uppercase;
}
.why-choose-us-section{
    padding-top: 50px !important;
    padding-bottom: 40px !important;
    background-color: #f4f4f4 !important;
}
.banner-section-content{
    padding-top: 100px !important;
    padding-right: 10px !important;
    padding-bottom: 100px !important;
    padding-left: 10px !important;
    background-image: url(../images/bg-1.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-top: 30px;
    margin-bottom: 30px;
}
.porto-u-main-heading-2 h2{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    position: relative;
}
.porto-u-main-heading-2 h2:after{
    content: '';
    position: absolute;
    background: #000;
    width: 40%;
    height: 4px;
    top: 50%;
    left: 60%;
}
.porto-u-main-heading-2 h2:before{
    content: '';
    position: absolute;
    background: #000;
    width: 40%;
    height: 4px;
    top: 50%;
    left: 0%;
}
.discover-btn{
    background: #000;
    color: #ffffff;
    position: absolute;
    width: 35%;
    height: 40px;
    left: 32%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    transition: 1s;
}
.discover-btn:hover{
    color: #000;
    text-decoration: none;
    border: 2px solid #000;
    background: none;
    padding-top: 2%;
    padding-left: 1.4%;
    padding-right: 1.4%;
}
.mens-clothes-section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.filter form .form-control-plaintext{
    background-color: transparent!important;
    border:  2px solid #a2a2a2!important;
    height: 35px!important;
}
.mens-clothes-section-sidebar{
    border: 1px solid #a2a2a2;
    padding: 25px;
}
.sidebar-title h4{
    font-weight: 700;
}
.sidebar-link li{
    list-style: none;
}
.sidebar-link{
    margin-top: 30px;
}
.sidebar-link li{
    margin-bottom: 10px;
}
.sidebar-link li a{
    color: #a2a2a2;
}
.sidebar-link li a:hover{
    color: #000000;
    text-decoration: none;
}
.mens-clothes-box ul li{
    list-style: none;
    display: inline-block;
}
.mens-clothes-box ul{
    padding-left: 0px;
}
.mens-clothes-box ul li a{
    color: #000;
}
.mens-clothes-box ul li.new{
    float: right;
    background-color: #000;
    color: #ffffff;
    padding: 2px 15px;
}
.mens-clothes-box {
    border: 1px solid #f7f7f7;
    padding: 10px 20px;
    margin-bottom: 30px;
}
.product-detail-page{
    padding-top: 30px;
    padding-bottom: 30px;
}

.glass-case * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    border: 0;
}

    .glass-case *:before, .glass-case *:after {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }

.glass-case {
    position: relative;
}
/*********************DISPLAY***************************/
.gc-display-area {
    position: absolute;
    overflow: hidden;
    border: 2px solid #F5F5F5;
    padding: 2px;
    background-color: #fff;
}

.gc-display-container {
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 0%;
    width: 555px!important;
    height: 5000px!important;
    max-width: 100%;
    max-height: 100%;
    margin-left: -50.7935%!important
}

.gc-display-display {
    position: relative;
    height: 536px!important;
    width: 555px!important;
    max-height: 100%;
    max-width: 100%;
    cursor: crosshair;
    opacity: 1;
}
/*********************LENS***************************/
.gc-lens {
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    cursor: crosshair;
    background: #CECECE;
    opacity: .5 !important; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */
    filter: alpha(opacity=50) !important; /* Netscape */
    -moz-opacity: 0.5; /* Safari 1.x */
    -khtml-opacity: 0.5;
}
/*********************ZOOM***************************/
.gc-zoom {
    position: absolute;
    /overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 1040 !important;
    border: 2px solid #f5f5f5;
    padding: 2px;
    background-color: #fff;
}

.gc-zoom-inner {
    cursor: crosshair;
    border: 0 !important;
    left: -2px !important;
    top: -2px !important;
    margin: 0 !important;
    z-index: 1010 !important;
}

.gc-zoom-container {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

    .gc-zoom-container img {
        position: relative;
        max-width: none !important;
    }
/*********************CAPTION**********************/
.gc-caption-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding: 2px;
    z-index: 1050 !important;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 1.6;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #333;
    font-size: 0.9em;
}

    .gc-caption-container div {
        position: relative;
        padding: 0 12px 0 12px;
    }

.gc-caption-intop {
    left: 0;
    top: 0;
}

.gc-caption-inbottom {
    left: 0;
    bottom: 0;
}

.gc-caption-outtop, .gc-caption-outbottom {
    width: 100%;
    width: calc(100% + 4px);
    border: 2px solid #f5f5f5;
    background: #fff;
}

.gc-caption-outtop {
    top: 0;
    left: -2px;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.gc-caption-outbottom {
    bottom: 0;
    left: -2px;
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.gc-alignment-center {
    text-align: center;
}

.gc-alignment-left {
    text-align: left;
}

.gc-alignment-right {
    text-align: right;
}

/*********************UL***************************/
.gc-thumbs-area {
    position: absolute;
    overflow: hidden;
    background-color: transparent;
}

.gc-thumbs-area-prev, .gc-thumbs-area-next {
    position: absolute;
    z-index: 1010;
}

.gc-thumbs-area.gc-hz .gc-thumbs-area-prev, .gc-thumbs-area.gc-hz .gc-thumbs-area-next {
    top: 0;
    height: 100%;
    min-height: 100%;
    width: 5%;
}

.gc-thumbs-area.gc-vt .gc-thumbs-area-prev, .gc-thumbs-area.gc-vt .gc-thumbs-area-next {
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 5%;
}

.gc-thumbs-area.gc-hz .gc-thumbs-area-prev {
    left: 0;
}

.gc-thumbs-area.gc-hz .gc-thumbs-area-next {
    right: 0;
}

.gc-thumbs-area.gc-vt .gc-thumbs-area-prev {
    top: 0;
}

.gc-thumbs-area.gc-vt .gc-thumbs-area-next {
    bottom: 0;
}

.gc-thumbs-area-prev:hover, .gc-thumbs-area-next:hover {
    opacity: 1;
    cursor: pointer;
    cursor: hand;
}

.gc-thumbs-area-prev .gc-disabled, .gc-thumbs-area-next .gc-disabled, .gc-thumbs-area-prev .gc-disabled:hover, .gc-thumbs-area-next .gc-disabled:hover {
    opacity: .3; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 5-7 */
    filter: alpha(opacity=30); /* Netscape */
    -moz-opacity: 0.3; /* Safari 1.x */
    -khtml-opacity: 0.3;
    cursor: default;
}

.glass-case ul {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    width: 100%!important;
}

    .glass-case ul li {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: 2px solid #f5f5f5;
        padding: 2px;
        background-color: #fff;
    }

.gc-thumbs-area.gc-hz li {
    display: inline;
    float: left;
    max-width: 100%;
    max-height: 100%;
    margin-right: 5px;
}

.gc-thumbs-area.gc-vt li {
    margin-bottom: 5px;
}

.glass-case ul li .gc-li-display-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.glass-case ul li:hover {
    border-color: #4f4f4f;
    cursor: pointer;
    cursor: hand;
}

.glass-case ul li.gc-active, .glass-case ul li.gc-active:hover {
    border-color: #669966;
    cursor: default;
}

.glass-case ul li .gc-li-display-container img {
    position: relative;
    top: 50%;
    left: 0%;
}
/*********************OVERLAY***************************/
.gc-overlay-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647 !important;
    background-color: rgb(204, 204, 204); /*the falback for ie7, ie8*/
    background-color: rgba(51, 51, 51, 0.95);
}

.gc-overlay-gcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

.gc-overlay-container {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

.gc-overlay-container-display {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

.gc-ocd-top {
    top: 0;
}

.gc-ocd-bottom {
    bottom: 0;
}

.gc-overlay-fit {
    padding: 4em 5.5em 1em 5.5em;
    overflow: hidden;
}

.gc-overlay-display {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    cursor: crosshair;
}

.gc-overlay-display-center {
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gc-overlay-display-vcenter {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gc-overlay-display-hcenter {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.gc-overlay-top-icons {
    position: absolute;
    top: 0;
    padding: 1em 1.5em 1em 0;
    width: 100%;
    height: 4em;
}

.gc-overlay-left-icons {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 1em 0 1.5em;
    height: 100%;
    width: 5.5em;
}

.gc-overlay-right-icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.5em 0 1em;
    height: 100%;
    width: 5.5em;
}
/*********************ICONS***************************/
@charset "UTF-8";

@font-face {
    font-family: "linea-arrows-10";
    src: url("../fonts/linea-arrows-10.eot");
    src: url("../fonts/linea-arrows-10.eot?#iefix") format("embedded-opentype"), url("../fonts/linea-arrows-10.woff") format("woff"), url("../fonts/linea-arrows-10.ttf") format("truetype"), url("../fonts/linea-arrows-10.svg#linea-arrows-10") format("svg");
    font-weight: normal;
    font-style: normal;
}

.gc-icon:before {
    line-height: 1;
}

.gc-icon {
    font-family: "linea-arrows-10" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    z-index: 1020;
    cursor: pointer;
    cursor: hand;
    color: #fff;
    opacity: .7; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 5-7 */
    filter: alpha(opacity=70); /* Netscape */
    -moz-opacity: 0.7; /* Safari 1.x */
    -khtml-opacity: 0.7;
    height: 1em;
    width: 1em;
    line-height: 0;
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.5);
    border: 2px solid #F5F5F5;
}

    .gc-icon:hover {
        opacity: 1; /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 5-7 */
        filter: alpha(opacity=100); /* Netscape */
        -moz-opacity: 1; /* Safari 1.x */
        -khtml-opacity: 1;
    }

.gc-disabled .gc-icon:hover, .gc-disabled .gc-icon:hover, .gc-disabled .gc-icon, .gc-disabled .gc-icon {
    opacity: .3; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 5-7 */
    filter: alpha(opacity=30); /* Netscape */
    -moz-opacity: 0.3; /* Safari 1.x */
    -khtml-opacity: 0.3;
    cursor: default;
}

/* *** ICON NEXT *** */
.gc-icon-next {
    top: 50%;
    right: -2px;
}

    .gc-icon-next:before {
        position: absolute;
        top: -2px;
        right: -2px;
        content: "\e04b";
    }

.gc-icon-next-vt {
    bottom: 0;
    left: 50%;
}

    .gc-icon-next-vt:before {
        position: absolute;
        top: -2px;
        left: -2px;
        content: "\e019";
    }

.gc-display-area .gc-icon-next {
    font-size: 2em !important;
}

.gc-thumbs-area-next .gc-icon-next {
    right: 0;
    font-size: 2em !important;
}

.gc-thumbs-area-next .gc-icon-next-vt {
    font-size: 1.5em !important;
}

.gc-overlay-area .gc-icon-next {
    position: relative;
    right: 0;
    font-size: 3em;
}
/* *** ICON PREV *** */
.gc-icon-prev {
    top: 50%;
    left: -2px;
}

    .gc-icon-prev:before {
        position: absolute;
        top: -2px;
        left: -2px;
        content: "\e03f";
    }

.gc-icon-prev-vt {
    top: 0;
    left: 50%;
}

    .gc-icon-prev-vt:before {
        position: absolute;
        top: -2px;
        left: -2px;
        content: "\e083";
    }

.gc-display-area .gc-icon-prev {
    font-size: 2em !important;
}

.gc-thumbs-area-prev .gc-icon-prev {
    font-size: 2em !important;
}

.gc-thumbs-area-prev .gc-icon-prev-vt {
    font-size: 1.5em !important;
}

.gc-overlay-area .gc-icon-prev {
    position: relative;
    left: 0;
    font-size: 3em;
}
/* *** ICON DOWNLOAD *** */
.gc-icon-download {
    right: -2px;
    bottom: 0;
    font-size: 2em;
    overflow: hidden;
}

    .gc-icon-download:before {
        position: absolute;
        top: -4px;
        left: -2px;
        content: "\e064";
    }
/* *** ICON CLOSE *** */
.gc-icon-close {
    position: relative;
    font-size: 2em;
    float: right;
}

    .gc-icon-close:before {
        position: absolute;
        content: "\e04a";
        top: -2px;
        right: -2px;
    }

.gc-icon-enlarge {
    position: relative;
    float: right;
    margin-right: 0.25em;
    font-size: 2em;
}

    .gc-icon-enlarge:before {
        position: absolute;
        content: '\e017';
        top: -2px;
        right: -2px;
    }

.gc-icon-compress {
    position: relative;
    float: right;
    margin-right: 0.25em;
    font-size: 2em;
}

    .gc-icon-compress:before {
        position: absolute;
        content: '\e053';
        top: -2px;
        right: -2px;
    }
/*********************LOADING***************************/
.gc-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31px;
    height: 31px;
    margin-left: -15px;
    margin-top: -15px;
    background-image: url(../images/loader.gif);
}

.gc-loading3 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    font-size: 0.25em;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(102, 153, 102, 0.2);
    border-right: 1.1em solid rgba(102, 153, 102, 0.2);
    border-bottom: 1.1em solid rgba(102, 153, 102, 0.2);
    border-left: 1.1em solid #669966;
    -webkit-animation: loadGC 1.1s infinite linear;
    animation: loadGC 1.1s infinite linear;
}

    .gc-loading3,
    .gc-loading3:after {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

@-webkit-keyframes loadGC {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loadGC {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*********************GENERAL***************************/
.gc-hide {
    display: none;
    z-index: 0;
    opacity: 0; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 5-7 */
    filter: alpha(opacity=0); /* Netscape */
    -moz-opacity: 0; /* Safari 1.x */
    -khtml-opacity: 0;
}

.gc-noscroll {
    overflow: hidden;
}

.gc-start {
    display: none;
    z-index: 0;
    opacity: 0; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 5-7 */
    filter: alpha(opacity=0); /* Netscape */
    -moz-opacity: 0; /* Safari 1.x */
    -khtml-opacity: 0;
}
.gc-thumbs-area-next, .gc-thumbs-area-prev{
    display: none;
}
.product-detail-page-title h3 b{
    font-weight: 700;
}
.unavailable h3 {
    color: #ff5d5d;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.review-star ul{padding-left: 0px;width: 76%; float: left;}
.review-star ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2%;
}
.review-star ul li i{font-size: 25px}
.review-star ul li:last-child i.fa-star{color: #eeeeee;}
.review{margin-left: 70%;}
.add-to-favourite{border: 2px solid #f7f7f7;text-align: center;padding-top: 8%;align-items: center;margin-top: -5%;}
.add-to-favourite h5 a{color: #000;text-decoration: none;}
.product-detail-page-content{margin-top: 20px;}
.product-detail-page-content p{font-size: 16px;word-spacing: 4px;color: #a7a7a7;}
.choose-color{margin-top: 20px;margin-bottom: 20px;}
.choose-color ul{list-style: none;padding-left: 0px;margin-left: -10px;}
.choose-color ul li {
    display: inline-block;
    margin-left: 2%;
    width: 54px;
    height: 54px;
    float: right;
}
.choose-color ul li .blue-color{background-color: #68d6f9;width: 100%;height: 50px;}
.choose-color ul li .drak-blue-color{background-color: #687cf9;width: 100%;height: 50px;}
.choose-color ul li .pink-color{background-color: #ec0f74;width: 100%;height: 50px;}
.choose-color ul li .light-pink-color{background-color: #f96868;width: 100%;height: 50px;}
.choose-color-title h4{font-weight: 700;}
.choose-color ul li.active{border: 4px solid #000000;padding: 4px 0px 4px;}
.footer-main .row .col-lg-2:last-child{
    border: none!important
}
.choose-color ul li.active .light-pink-color, .choose-color ul li.active .blue-color, .choose-color ul li.active .drak-blue-color, .choose-color ul li.active .pink-color{
    width: 91%;
    height: 39px;
    margin-left: 5%;
}
.choose-size {
    margin-top: 90px;
    padding-left: 15px;
}
.choose-size ul{list-style: none;padding-left: 0px;margin-left: -10px;}
.choose-size ul li {
    display: inline-block;
    margin-left: 2%;
    width: 12%;
    float: left;
    border: 2px solid #dbdada;
    height: 45px;
}
.choose-size ul li .size{text-align: center;padding-top: 17%;}
.choose-size li.active{border: 2px solid #6c6b6b}
.choose-size ul li:hover{cursor: pointer;}
.choose-design{margin-top: 90px;}
.choose-design select{background-color: transparent!important;border-radius: 0px!important;height: 50px!important;}
.product-detail-button .custom-design-btn{background: #687cf9;color: #ffffff;text-decoration: none;position: absolute;width: 95%;text-align: center;padding-top: 10px;padding-bottom: 10px;font-weight: 700;font-size: 18px;}
.product-detail-button .custom-design-btn img{height: 30px;width: 20px;}
.product-detail-button .buy-now-btn{background: #000000;color: #ffffff;text-decoration: none;position: absolute;width: 95%;text-align: center;padding-top: 10px;padding-bottom: 10px;font-weight: 700;font-size: 18px;margin-top: 12%;}
.related-product{margin-top: 10%;}
.cart-content ul{list-style: none;padding-left: 0px;border-bottom: 1px solid #f7f7f7;padding-bottom: 30px; margin-bottom: 30px;}
.cart-content ul li{display: inline-block;}
.cancel-btn{width: 10%;}
.cart-product{margin-right: 5%;}
.cancel i{background-color: #ecebeb;height: 40px;width: 40px;border-radius: 50%;margin-left: -30px;text-align: center;padding-top: 12%;}
.cart-product{border: 3px solid #f7f7f7;}
.cart-color-box{background-color: #656c71;width: 100%; height: 30px;}
.continue-pay-btn .continue-pay{background-color: #000;color: #ffffff;text-decoration: none;position: absolute;width: 70%;height: 50px;padding-left: 4%;padding-right: 4%;padding-top: 4%;transition: 1s;text-align: left;}
.continue-pay-btn .continue-pay .fa-chevron-right {
    float: right;
    vertical-align: middle;
    margin-top: 1%;
}
.continue-pay-btn .continue-pay:hover{background-color: transparent;border: 4px solid #000;color: #000;padding-top: 3%;}
.porto-sicon-box {
    padding-left: 40px;
    padding-right: 40px;
    padding: 30px;
    background: #fff;
}
.porto-sicon-box .icon i{
    font-size: 55px;
    color: #ff6840;
}
.porto-sicon-box.top-icon, .top-icon .porto-sicon-header, .top-icon .porto-sicon-description {
    text-align: left;
}
.happy-client{padding: 30px 0px;}
.testimonial .testimonial-author img {
    border-radius: 28px;
}
.testimonial .testimonial-author img {
    max-width: 25px;
}
.testimonial .testimonial-author .testimonial-author-thumbnail {
    margin-right: 15px;
}
.testimonial .testimonial-author .testimonial-author-thumbnail {
    width: auto;
}
.testimonial blockquote, .testimonial blockquote p {
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
.testimonial blockquote:before {
    left: 66px;
    color: #ff6840;
    font-family: Playfair Display;
    font-size: 50px;
    font-weight: 900;
}
.counter-Txt{text-align:center; font-size:16px; font-weight:bold; text-transform:uppercase; margin-top:20px;}
.counter-Txt span{display:block; font-size:36px}
@media(min-width:320px) and (max-width:767px){ 
.c-no{height:100%;}
.counter-Txt{margin-top:35px;}
.margin-bot-35{margin-bottom:35px;}
}
.counter {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    background-color: #f4f4f4 !important;
}
.contact-us{padding-top: 60px;}
.map{margin-bottom: 60px;}
.contact-title h2{margin-bottom: 10px;text-transform: capitalize;}
.contact-title{border-bottom: 1px solid #a2a2a2;margin-bottom: 20px;}
.porto-icon.circle {
    border-radius: 50%;
}
.contact-title ul{padding-left: 0px;list-style: none;}
.contact-title ul li{display: inline-block;}
.contact-title-2 h2{margin-bottom: 10px;text-transform: capitalize;}
.myaccordion {
  max-width: 100%;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}
.myaccordion .card{
    margin-bottom: 15px;
}
.myaccordion .card, .myaccordion .card:last-child .card-header {
    border: none;
}
.collapse.show {
    display: block;
    background: #e6e4e4;
}

.myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: #f2f1f1;
}

.myaccordion .fa-stack {
  font-size: 18px;
}

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #000000;
  padding: 0;
  font-size: 17px
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion li + li {
  margin-top: 10px;
}
#tabs{
    background: #007b5e;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000000;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 15px;
    font-weight: bold;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: none;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}
.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    color: #000;
}
.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators .active {
    background-color: #000;
}
.carousel-indicators {
    bottom: -22px;
}
/* line 27, bootstrap-select.scss */
select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

/* line 32, bootstrap-select.scss */
.bootstrap-select {
  width: 220px \0;
  /*IE9 and below*/
}
/* line 37, bootstrap-select.scss */
.bootstrap-select.btn-group > .dropdown-toggle {
  height: 100%;
}
/* line 43, bootstrap-select.scss */
.bootstrap-select > .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
  z-index: 1;
}
/* line 48, bootstrap-select.scss */
.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #999;
}
/* line 56, bootstrap-select.scss */
.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
}
/* line 67, bootstrap-select.scss */
.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2;
}
/* line 77, bootstrap-select.scss */
.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
/* line 82, bootstrap-select.scss */
.bootstrap-select.fit-width {
  width: auto !important;
}
/* line 86, bootstrap-select.scss */
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 220px;
}
/* line 90, bootstrap-select.scss */
.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

/* line 97, bootstrap-select.scss */
.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
/* line 102, bootstrap-select.scss */
.bootstrap-select.form-control:not([class*="col-"]) {
  width: 100%;
}
/* line 106, bootstrap-select.scss */
.bootstrap-select.form-control.input-group-btn {
  z-index: auto;
}
/* line 110, bootstrap-select.scss */
.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

/* line 119, bootstrap-select.scss */
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
/* line 130, bootstrap-select.scss */
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right, .row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
/* line 135, bootstrap-select.scss */
.form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}
/* line 141, bootstrap-select.scss */
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}
/* line 145, bootstrap-select.scss */
.form-group-lg .bootstrap-select.btn-group.form-control .dropdown-toggle, .form-group-sm .bootstrap-select.btn-group.form-control .dropdown-toggle {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}
/* line 155, bootstrap-select.scss */
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}
/* line 159, bootstrap-select.scss */
.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}
/* line 163, bootstrap-select.scss */
.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}
/* line 168, bootstrap-select.scss */
.bootstrap-select.btn-group.bs-container {
  position: absolute;
  height: 0 !important;
  padding: 0 !important;
}
/* line 173, bootstrap-select.scss */
.bootstrap-select.btn-group.bs-container .dropdown-menu {
  z-index: 1060;
}
/* line 180, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}
/* line 187, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
/* line 196, bootstrap-select.scss */
.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
  width: 100%;
}
/* line 201, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 205, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu.inner {
  display: block;
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}
/* line 216, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu a.dropdown-item {
  position: relative;
  cursor: pointer;
  user-select: none;
}
/* line 221, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu a.dropdown-item.active small {
  color: #fff;
}
/* line 225, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu a.dropdown-item.disabled a {
  cursor: not-allowed;
}
/* line 229, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu a.dropdown-item.hidden {
  display: none;
}
/* line 233, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner {
  display: block;
}
/* line 236, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner.opt {
  position: relative;
  padding-left: 2.25em;
}
/* line 241, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner span.check-mark {
  display: none;
}
/* line 245, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu a.dropdown-item span.dropdown-item-inner span.text {
  display: inline-block;
}
/* line 250, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu a.dropdown-item small {
  padding-left: 0.5em;
}
/* line 257, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu .dropdown-item .span.check-mark {
  display: none;
}
/* line 261, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu .dropdown-item .span.text {
  display: inline-block;
}
/* line 266, bootstrap-select.scss */
.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: whitesmoke;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 282, bootstrap-select.scss */
.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap;
}
/* line 290, bootstrap-select.scss */
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
  position: static;
}
/* line 294, bootstrap-select.scss */
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}
/* line 302, bootstrap-select.scss */
.bootstrap-select.btn-group.show-tick .dropdown-menu a.selected span.dropdown-item-inner span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px;
}
/* line 309, bootstrap-select.scss */
.bootstrap-select.btn-group.show-tick .dropdown-menu a a span.text {
  margin-right: 34px;
}

/* line 316, bootstrap-select.scss */
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
  z-index: 1061;
}
/* line 321, bootstrap-select.scss */
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
/* line 332, bootstrap-select.scss */
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
/* line 345, bootstrap-select.scss */
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0;
}
/* line 352, bootstrap-select.scss */
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0;
}
/* line 361, bootstrap-select.scss */
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
/* line 366, bootstrap-select.scss */
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}
/* line 373, bootstrap-select.scss */
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}

/* line 380, bootstrap-select.scss */
.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}

/* line 386, bootstrap-select.scss */
.bs-actionsbox {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 390, bootstrap-select.scss */
.bs-actionsbox .btn-group button {
  width: 50%;
}

/* line 395, bootstrap-select.scss */
.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 400, bootstrap-select.scss */
.bs-donebutton .btn-group button {
  width: 100%;
}

/* line 406, bootstrap-select.scss */
.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
/* line 410, bootstrap-select.scss */
.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
}
/* line 417, bootstrap-select.scss */
.input-group .bs-searchbox .form-control {
  width: 100%;
}
.myaccount-sidebar-header{
    background: #f7f7f7f7;
    width: 100%;
    padding: 15px 20px;
}
.myaccount-sidebar-header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
.myaccount-sidebar-header .name h3 {
    font-size: 20px;
    margin-left: 26%;
    margin-top: 4%;
    margin-bottom: 0px;
}
.myaccount-sidebar{
    border: 1px solid #a2a2a2;
}
.link{
    margin-top: 30px;
}
.link ul{
    list-style: none;
    padding-left: 20px;
}
.link ul li a{
    color: #bebebe;
    text-decoration: none;
}
.link ul li{margin-bottom: 20px;}
.link ul li.active a{color: #000;position: relative;font-weight: 700;}
.link ul li.active a:before{
    content: '';
    position: absolute;
    background: #000;
    width: 4px;
    height: 20px;
    left: 132px;
}
.my-account-content-title h4 span{
    margin-left: 10%;
}
.my-account-content-title .edit-btn{
    color: #000;
    text-decoration: none;
    border: 1px solid #a2a2a2;
    position: absolute;
    width: 100%;
    height: 35px;
    text-align: center;
    padding-top: 3%;
    top: 20%;
}
.my-account-content-title .form-submit-btn:hover{
    color: #000!important
}
.payment-information-box{
    border: 4px solid #a2a2a2;
    padding: 15px 15px;
}
.paypal-box{
    margin-top: 30px;
    border: 4px solid #d3d3d3;
    padding: 15px;
}
.location-information-box{
    border: 1px solid #a2a2a2;
    padding: 15px;
}
.sign-out{
    margin-top: 50px;
}
.sign-out li a{
    color: #000!important;
    font-size: 18px;
    font-weight: 700;
}
.arrow-right-space{
    margin-right: 59%;
}
.slider-arrow-right-space{
    margin-right: 25%;
}
.form-arrow-right-space{margin-right: 20%;}
.form-control:focus {
    color: #495057;
    background-color: #F7F7F9;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none!important;
}
.myaccount-sidebar .link ul li.active a:before {
    content: '';
    position: absolute;
    background: #000;
    width: 4px;
    height: 20px;
    left: 99px;
}
.fa{
    float: left;
    margin: 4% 0 0 0;
}