﻿html {
    direction: rtl;
    overflow-x: hidden;
    box-shadow: none !important;
    font-size: 16px
}

body {
    margin: 0
}

.clear {
    float: none;
    clear: both
}

.f-left,
.pull-left {
    float: right
}

.f-right,
.pull-right {
    float: left
}

.f-none {
    float: none
}

.hide,
.sticky-header .d-sticky-header-none {
    display: none !important
}

.row:before,
.row:after {
    display: none
}

.row-align-items-center .row {
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 575px) {
    body {
        font-size: 13px
    }
}

a.nolink {
    pointer-events: none
}

[data-plugin-sticky] {
    z-index: 8
}

.z-index-1 {
    z-index: 1
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
    text-transform: none;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased
}

h1 {
    font-size: 2.6em;
    line-height: 44px;
    margin: 0 0 32px 0
}

h2 {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 32px 0
}

h3 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 20px 0
}

h4 {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 27px;
    margin: 0 0 14px 0
}

h5 {
    font-size: 1em;
    font-weight: 600;
    line-height: 18px;
    margin: 0 0 14px 0
}

h6 {
    font-size: 1em;
    font-weight: 400;
    line-height: 18px;
    margin: 0 0 14px 0
}

h1.big {
    font-size: 4.2em;
    line-height: 54px
}

h1.small {
    font-size: 2.2em;
    line-height: 42px;
    font-weight: 600
}

h1.short {
    margin-bottom: 15px
}

h2.short {
    margin-bottom: 15px
}

h3.short,
h4.short,
h5.short,
h6.short {
    margin-bottom: 9px
}

h1.shorter,
h2.shorter,
h3.shorter,
h4.shorter,
h5.shorter,
h6.shorter {
    margin-bottom: 0
}

h1.tall,
h2.tall,
h3.tall,
h4.tall,
h5.tall,
h6.tall {
    margin-bottom: 33px
}

h1.taller,
h2.taller,
h3.taller,
h4.taller,
h5.taller,
h6.taller {
    margin-bottom: 44px
}

h1.spaced,
h2.spaced,
h3.spaced,
h4.spaced,
h5.spaced,
h6.spaced {
    margin-top: 22px
}

h1.more-spaced,
h2.more-spaced,
h3.more-spaced,
h4.more-spaced,
h5.more-spaced,
h6.more-spaced {
    margin-top: 44px
}

h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white {
    color: #fff
}

h1.text-shadow,
h2.text-shadow,
h3.text-shadow,
h4.text-shadow,
h5.text-shadow,
h6.text-shadow {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2)
}

.heading.heading-border {
    margin-bottom: 1.5625rem
}

.heading.heading-border h1,
.heading.heading-border h2,
.heading.heading-border h3,
.heading.heading-border h4,
.heading.heading-border h5,
.heading.heading-border h6 {
    padding: 0;
    margin: 0
}

.heading.heading-middle-border .heading-tag {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.heading.heading-middle-border .heading-tag:before,
.heading.heading-middle-border .heading-tag:after {
    height: 0;
    border-top: 1px solid;
    border-top-color: inherit;
    -ms-flex: 1;
    flex: 1
}

.heading.heading-middle-border .heading-tag:after {
    content: ''
}

.heading.heading-middle-border h1:before {
    margin-left: 20px
}

.heading.heading-middle-border h1:after {
    margin-right: 20px
}

.heading.heading-middle-border h2:before,
.heading.heading-middle-border h3:before {
    margin-left: 15px
}

.heading.heading-middle-border h2:after,
.heading.heading-middle-border h3:after {
    margin-right: 15px
}

.heading.heading-middle-border h4:before,
.heading.heading-middle-border h5:before,
.heading.heading-middle-border h6:before {
    margin-left: 8px
}

.heading.heading-middle-border h4:after,
.heading.heading-middle-border h5:after,
.heading.heading-middle-border h6:after {
    margin-right: 8px
}

.heading.heading-middle-border-reverse .heading-tag:before {
    content: ''
}

.heading.heading-middle-border-reverse .heading-tag:after {
    content: none
}

.heading.heading-middle-border-center .heading-tag:before {
    content: ''
}

.heading.heading-border-xs .heading-tag {
    border-bottom-width: 1px
}

.heading.heading-border-xs .heading-tag:before,
.heading.heading-border-xs .heading-tag:after {
    border-top-width: 1px
}

.heading.heading-border-sm .heading-tag {
    border-bottom-width: 2px
}

.heading.heading-border-sm .heading-tag:before,
.heading.heading-border-sm .heading-tag:after {
    border-top-width: 2px
}

.heading.heading-border-lg .heading-tag {
    border-bottom-width: 3px
}

.heading.heading-border-lg .heading-tag:before,
.heading.heading-border-lg .heading-tag:after {
    border-top-width: 3px
}

.heading.heading-border-xl .heading-tag {
    border-bottom-width: 5px
}

.heading.heading-border-xl .heading-tag:before,
.heading.heading-border-xl .heading-tag:after {
    border-top-width: 5px
}

@media (max-width: 575px) {
    h2 {
        line-height: 40px
    }
}

@media (max-width: 767px) {
    h1.big {
        font-size: 3.2em;
        line-height: 42px
    }
}

.heading-bold {
    font-weight: 600 !important
}

.heading-bold strong {
    font-weight: 800 !important
}

.page-title {
    margin-top: 0
}

blockquote {
    font-size: 1em
}

p {
    margin: 0 0 1.25rem
}

p.featured {
    font-size: 1.6em;
    line-height: 1.5em
}

p .alternative-font {
    display: inline-block;
    margin-top: -15px;
    position: relative;
    top: 3px;
    margin-bottom: -6px
}

b,
strong {
    font-weight: 700
}

.label-dark,
.label-dark:hover {
    background: #111;
    text-decoration: none;
    font-weight: normal
}

.alternative-font {
    font-size: 1.6em
}

.single h4.sub-title {
    font-size: 1.2em
}

.single h4.sub-title strong {
    font-weight: 800
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: transparent
}

.nav i.icon-image {
    display: inline-block;
    max-width: 20px
}

ul.nav-list li,
ul[class^="wsp-"] li {
    margin: 0;
    padding: 0;
    display: block;
    flex: 0 0 100%;
    position: relative
}

ul.nav-list li a,
ul[class^="wsp-"] li a {
    transition: background 0.1s;
    padding: 8px 20px 8px 0;
    display: block;
    color: #666;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 20px
}

ul.nav-list li a:before,
ul[class^="wsp-"] li a:before {
    content: "\f054";
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 9px;
    opacity: .7;
    font-size: .45rem
}

ul.nav-list li a:hover:before,
ul[class^="wsp-"] li a:hover:before {
    animation: arrowLeftRight .6s linear infinite
}

ul.nav-list li>a.active,
ul.nav-list li.active>a,
ul[class^="wsp-"] li>a.active,
ul[class^="wsp-"] li.active>a {
    font-weight: bold
}

ul.nav-list li ul,
ul[class^="wsp-"] li ul {
    list-style: none;
    margin: 0 25px 0 0;
    padding: 0
}

ul.nav-list li .wsp-category-title,
ul[class^="wsp-"] li .wsp-category-title {
    margin-top: 10px
}

ul.nav-list li .wsp-category-title a,
ul[class^="wsp-"] li .wsp-category-title a {
    display: inline-block;
    padding-right: 0;
    font-size: 1em
}

ul.nav-list li .wsp-category-title a:before,
ul[class^="wsp-"] li .wsp-category-title a:before {
    display: none
}

ul.nav-list li .wsp-category-title a:hover,
ul[class^="wsp-"] li .wsp-category-title a:hover {
    background-color: transparent
}

ul.nav-list.hide-not-active li ul,
ul[class^="wsp-"].hide-not-active li ul {
    display: none
}

ul.nav-list.hide-not-active li.active ul,
ul[class^="wsp-"].hide-not-active li.active ul {
    display: block
}

ul.narrow li a {
    padding-top: 4px;
    padding-bottom: 4px
}

ul.nav-pills>li>a.active {
    background-color: #CCC
}

ul.nav-pills>li>a.active:hover,
ul.nav-pills>li>a.active:focus {
    background-color: #CCC
}

ul.nav-pills-center {
    text-align: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

ul.nav-pills-center>li {
    display: inline-block;
    float: none
}

ul.nav-pills-left>li {
    float: right
}

ul.nav-pills-right>li {
    float: left
}

ul.nav-pills-justify {
    display: -ms-flexbox;
    display: flex
}

ul.nav-pills-justify>li {
    float: none;
    text-align: center;
    width: 100%
}

.nav-pills .nav-link .active {
    background-color: transparent
}

.show>.nav-pills .nav-link {
    background-color: transparent
}

.nav-secondary {
    background: #fafafa;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    z-index: 100
}

.nav-secondary .nav-pills {
    display: block
}

.nav-secondary .nav-pills>li {
    display: inline-block
}

.nav-secondary .nav-pills>li a,
.nav-secondary .nav-pills>li span {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 13px;
    text-transform: uppercase;
    display: inline-block
}

.nav-secondary .nav-pills>li a i,
.nav-secondary .nav-pills>li span i {
    font-size: 14px;
    margin-left: 5px
}

.nav-secondary .nav-pills a {
    text-decoration: none
}

.nav-secondary.sticky-active {
    border-bottom-color: #e9e9e9;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}

form label {
    font-weight: normal
}

textarea {
    resize: vertical
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
    -webkit-appearance: none
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea,
select,
.form-control {
    border: 1px solid;
    outline: none;
    box-shadow: none;
    text-align: right;
    line-height: 1.42857;
    padding: 8px 12px;
    font-size: .85rem;
    vertical-align: middle;
    height: auto
}

input[type="email"].input-lg,
input[type="number"].input-lg,
input[type="password"].input-lg,
input[type="search"].input-lg,
input[type="tel"].input-lg,
input[type="text"].input-lg,
input[type="url"].input-lg,
input[type="color"].input-lg,
input[type="date"].input-lg,
input[type="datetime"].input-lg,
input[type="datetime-local"].input-lg,
input[type="month"].input-lg,
input[type="time"].input-lg,
input[type="week"].input-lg,
select.input-lg,
textarea.input-lg {
    padding: 10px 12px;
    font-size: 18px
}

input[type="email"].input-sm,
input[type="number"].input-sm,
input[type="password"].input-sm,
input[type="search"].input-sm,
input[type="tel"].input-sm,
input[type="text"].input-sm,
input[type="url"].input-sm,
input[type="color"].input-sm,
input[type="date"].input-sm,
input[type="datetime"].input-sm,
input[type="datetime-local"].input-sm,
input[type="month"].input-sm,
input[type="time"].input-sm,
input[type="week"].input-sm,
select.input-sm,
textarea.input-sm {
    padding: 5px 7px;
    font-size: 12px
}

select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    background: #fff url("../images/select-bg.svg") 96% 49%/26px 60px no-repeat;
    background-position: 4% 48%;
    text-indent: .01em;
    border-radius: 0;
    padding-left: 25px
}

label.checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px
}

input[type="radio"],
input[type="checkbox"] {
    margin-left: 5px
}

.form-group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.form-control:focus,
select:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
}

label.valid {
    display: inline-block;
    text-indent: -9999px
}

label.error {
    color: #C10000;
    font-size: 0.9em;
    margin-top: -5px;
    padding: 0
}

label.error#captcha-error {
    margin-top: 15px
}

legend {
    border: none
}

fieldset legend {
    margin-top: 15px
}

[type="submit"] {
    border: 1px solid #ccc;
    color: #fff;
    padding: 8px 10px;
    line-height: 1.42857
}

#searchform .input-group {
    margin-bottom: 1em
}

#searchform #s {
    font-size: 0.8em
}

.form-table th,
.form-table td {
    padding: 10px 0 10px 10px
}

.form-table th label,
.form-table td label {
    margin-left: 15px
}

.form-table th h3,
.form-table td h3 {
    color: inherit;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.42857;
    margin: 0 0 -10px !important
}

.form-group {
    direction: rtl
}

body #wp-link-wrap .screen-reader-text {
    display: none
}

body #wp-link-wrap #wp-link-submit {
    padding: 4px 12px
}

body #wp-link-wrap #wp-link-search-toggle:after {
    font-size: 25px
}

[class*='flag-'] {
    width: 16px;
    height: 11px;
    background: url(../images/flags.png) no-repeat
}

.flag-ad {
    background-position: -16px 0
}

.flag-ae {
    background-position: -32px 0
}

.flag-af {
    background-position: -48px 0
}

.flag-ag {
    background-position: -64px 0
}

.flag-ai {
    background-position: -80px 0
}

.flag-al {
    background-position: -96px 0
}

.flag-am {
    background-position: -112px 0
}

.flag-an {
    background-position: -128px 0
}

.flag-ao {
    background-position: -144px 0
}

.flag-ar {
    background-position: -160px 0
}

.flag-as {
    background-position: -176px 0
}

.flag-at {
    background-position: -192px 0
}

.flag-au {
    background-position: -208px 0
}

.flag-aw {
    background-position: -224px 0
}

.flag-az {
    background-position: -240px 0
}

.flag-ba {
    background-position: 0 -11px
}

.flag-bb {
    background-position: -16px -11px
}

.flag-bd {
    background-position: -32px -11px
}

.flag-be {
    background-position: -48px -11px
}

.flag-bf {
    background-position: -64px -11px
}

.flag-bg {
    background-position: -80px -11px
}

.flag-bh {
    background-position: -96px -11px
}

.flag-bi {
    background-position: -112px -11px
}

.flag-bj {
    background-position: -128px -11px
}

.flag-bm {
    background-position: -144px -11px
}

.flag-bn {
    background-position: -160px -11px
}

.flag-bo {
    background-position: -176px -11px
}

.flag-br {
    background-position: -192px -11px
}

.flag-bs {
    background-position: -208px -11px
}

.flag-bt {
    background-position: -224px -11px
}

.flag-bv {
    background-position: -240px -11px
}

.flag-bw {
    background-position: 0 -22px
}

.flag-by {
    background-position: -16px -22px
}

.flag-bz {
    background-position: -32px -22px
}

.flag-ca {
    background-position: -48px -22px
}

.flag-catalonia {
    background-position: -64px -22px
}

.flag-cd {
    background-position: -80px -22px
}

.flag-cf {
    background-position: -96px -22px
}

.flag-cg {
    background-position: -112px -22px
}

.flag-ch {
    background-position: -128px -22px
}

.flag-ci {
    background-position: -144px -22px
}

.flag-ck {
    background-position: -160px -22px
}

.flag-cl {
    background-position: -176px -22px
}

.flag-cm {
    background-position: -192px -22px
}

.flag-cn {
    background-position: -208px -22px
}

.flag-co {
    background-position: -224px -22px
}

.flag-cr {
    background-position: -240px -22px
}

.flag-cu {
    background-position: 0 -33px
}

.flag-cv {
    background-position: -16px -33px
}

.flag-cw {
    background-position: -32px -33px
}

.flag-cy {
    background-position: -48px -33px
}

.flag-cz {
    background-position: -64px -33px
}

.flag-de {
    background-position: -80px -33px
}

.flag-dj {
    background-position: -96px -33px
}

.flag-dk {
    background-position: -112px -33px
}

.flag-dm {
    background-position: -128px -33px
}

.flag-do {
    background-position: -144px -33px
}

.flag-dz {
    background-position: -160px -33px
}

.flag-ec {
    background-position: -176px -33px
}

.flag-ee {
    background-position: -192px -33px
}

.flag-eg {
    background-position: -208px -33px
}

.flag-eh {
    background-position: -224px -33px
}

.flag-england {
    background-position: -240px -33px
}

.flag-er {
    background-position: 0 -44px
}

.flag-es {
    background-position: -16px -44px
}

.flag-et {
    background-position: -32px -44px
}

.flag-eu {
    background-position: -48px -44px
}

.flag-fi {
    background-position: -64px -44px
}

.flag-fj {
    background-position: -80px -44px
}

.flag-fk {
    background-position: -96px -44px
}

.flag-fm {
    background-position: -112px -44px
}

.flag-fo {
    background-position: -128px -44px
}

.flag-fr {
    background-position: -144px -44px
}

.flag-ga {
    back