@media only screen and (max-width: 991px){
	.box-icon-1 .body-content{
		margin-left: 40px;
	}
	.box-icon-1 .body-content,
	.box-icon-1 .body-content .heading{
		font-size: 14px;
	}
	.box-icon-1 .icon{
		font-size: 26px;
		width: 30px;
		height: 30px;
	}
	h3{
		font-size: 20px;
	}
	.product-des .btn.btn-cart{
		padding: 10px;
		font-size: 14px;
	}
	.rs-shop-box .body-text .meta{
		display: block;
	}
	.related-product .col-sm-4.col-md-3{
		flex: 0 0 50%;
		max-width: 50%;
	}
}