
/* --- Common Css Start --- */

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a,
body,
button,
input,
.body-text,
.rs-shop-box,
.rs-feature-box-1,
.owl-controls .owl-nav [class*="owl-"]{
	transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

button:focus,
.btn:focus{
	box-shadow: none;
}

/* --- Common Css End --- */


/* --- Header Css Start --- */

.navbar-brand img,
.navbar-main.stiky .navbar-brand img{
	width: 80px;
}

.box-icon-1 .body-content{
	font-size: 18px;
}

.box-icon-1 .icon{
	line-height: 1.4;
}

.contact-info > div{
	margin-top: 10px;
}

.header-1 .navbar-main .nav-link{
	text-transform: uppercase;
}

.header-1 .btn-secondary{
	min-width: auto;
	padding: 13px 20px;
	margin-right: 10px;
}

.search-form{
	position: absolute;
	top: 0;
	left: 300px;
	right: 0;
	width: 26%;
	display: none;
	margin: 0 auto;
}

.navbar-main.stiky .search-form{
	top: 7px;
}

.search-form .btn-search{
	float: right;
	height: 48px;
	margin-right: 0;
	border-radius: 0;
	margin-top: -48px;
	padding: 10px 15px;
}

.search-form .form-control{
	border-radius: 0;
	height: 48px;
}

.btn-close-i i:before{
	content: '\f00d';
}

.search-form-hide{
	display: block;
}

.login-pop{
	position: absolute;
	top: 60px;
	right: 0;
	z-index: 9;
	width: 180px;
	display: none;
	padding: 15px;
	background: #3c2800;
}

.login-show{
	display: block;
}

.login-pop::after{
	position: absolute;
	top: -34px;
	left: -10px;
	right: 0;
	content: '\f0d8';
	color: #3c2800;
	font-size: 38px;
	text-align: center;
	font-family: 'FontAwesome';
}

.login-pop label,
.login-pop a{
	color: #fff;
	display: block;
}

.login-pop a:hover,
.login-pop a:focus{
	color: #f7941d;
}

.btn-nav{
	position: relative;
}

.cart-number{
	position: absolute;
	top: 6px;
	right: 0;
	left: 20px;
	color: #000;
	width: 15px;
	height: 15px;
	margin: 0 auto;
	font-size: 10px;
	background: #fff;
	border-radius: 50%;
}

.navbar-main .cust-dropdown-menu{
	position: absolute;
	top: 37px;
	left: 0;
	opacity: 0;
    width: 600px;
	z-index: 9999;
	visibility: hidden;
    padding: 10px 15px;
	background: #3c2800;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
}

.navbar-main .dropdown:hover .cust-dropdown-menu{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
}

.drop-links h3{
	color: #fff;
	font-size: 18px;
	margin: 0 0 10px;
}

.drop-links a{
	padding: 5px !important;
}

.topbar p,
.header-1 a,
.header-1 li,
.drop-links h3,
.box-icon-1 .body-content,
.box-icon-1 .body-content .heading{
	font-family: 'Nunito';
	font-weight: bold;
}

.nav-item h3{
	font-size: 18px;
	text-transform: capitalize;
}

.navbar-main li{
	padding: 0 15px;
	border-radius: 0; 
	background-image: none;
}

.cust-dropdown-menu a .item_outer{
	position: relative;
	display: inline-block;
	overflow: visible;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 2px 13px 2px 9px;
	margin-right: 36px;
}

.cust-dropdown-menu a .mkdf-active-hover{
    clip-path: circle(150%);
    -webkit-clip-path: circle(150%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.cust-dropdown-menu a .mkdf-active-hover{
	clip-path: circle(0);
	-webkit-clip-path: circle(0);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-left: -10px;
	margin-top: -2px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.cust-dropdown-menu a .item_outer .item_text{
	position: relative;
	z-index: 1;
}

.cust-dropdown-menu a .mkdf-active-hover svg{
    position: absolute;
    top: 0;
}

.cust-dropdown-menu a .mkdf-active-hover svg.mkdf-active-hover-left{
    left: 0;
}

.cust-dropdown-menu a .mkdf-active-hover svg.mkdf-active-hover-right{
    right: 0;
}

.cust-dropdown-menu a .mkdf-active-hover .mkdf-active-hover-middle{
	position: absolute;
	top: 0;
	left: 8px;
	height: 100%;
	border-radius: 4px;
	background-color: #fff;
	width: calc(100% - 16px);
}

.cust-dropdown-menu a .mkdf-active-hover svg path{
	fill: #fff;
	stroke: #fff;
}

.cust-dropdown-menu a{
	color: #fff;
}

.cust-dropdown-menu a:hover{
	color: #f7941d;
}

.cust-dropdown-menu a:hover .mkdf-active-hover{
	clip-path: circle(150%);
	-webkit-clip-path: circle(150%);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.category-list-head span{
	font-size: 18px;
	color: #fff;
}

.category-list-head{
	position: relative;
	left: -7px;
}

.category-list-head:hover span,
.category-list-head:focus span{
	color: #f7941d;
}

.drop-links h3,
.drop-links a{
	font-family: 'Amatic SC';
	font-weight: bold;
}

/* --- Header Css End --- */

/* --- Home Css Start --- */

.banner .owl-controls .owl-nav [class*="owl-"]{
	padding-top: 8px;
}

.rs-feature-box-1 a,
.slider-pos .btn-primary{
	border: 2px solid transparent;
}

.slider-pos .btn-primary:hover,
.slider-pos .btn-primary:focus{
	color: #f7941d;
	border-color: #f7941d;
	background-color: transparent;
}

.rs-feature-box-1 a:hover,
.rs-feature-box-1 a:focus{
	color: #3C2800;
	border-color: #3C2800;
	background-color: transparent;	
}

.rs-shop-box:hover .body-text,
.rs-shop-box:focus .body-text{
	background-color: #3c2800;
}

.rs-shop-box:hover .body-text .title a,
.rs-shop-box:focus .body-text .title a{
	color: #f7941d;
}
.rs-shop-box .body-text .title a{
	text-transform: capitalize;
}

.rating{
	direction: ltr;
}

.rating .btn-cart{
	min-width: auto;
	padding: 5px 20px;
	background: #f7941d;
	text-transform: capitalize;
	border: 2px solid transparent;
}

.rating .btn-cart:hover,
.rating .btn-cart:focus{
	color: #f7941d;
	border-color: #f7941d;
	background-color: transparent;
}

.rs-shop-box .body-text .title{
	text-align: center;
}

.best-carousel .owl-dots{
	display: none !important;
}

.best-carousel .owl-controls{
	margin-top: 0;
}

.best-carousel .owl-controls .owl-nav [class*="owl-"]{
	padding: 5px 15px;
	background: #3c2800;
	border-radius: 50px;
	text-transform: capitalize;
}

.best-carousel .owl-controls .owl-nav [class*="owl-"]:hover,
.best-carousel .owl-controls .owl-nav [class*="owl-"]:focus{
	background: #f7941d;
}

.category .media a{
	width: 100%;
	display: block;
}

.category .media img{
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: top;
}

.category .content-wrap{
	padding-left: 20px;
	padding-right: 20px;
}

.category .rs-image-box .media{
	overflow: hidden;
}

.btn-petshop{
	min-width: auto;
	margin-top: 20px;
	padding: 7px 30px;
	background: #3c2800;
}

.btn-petshop:hover,
.btn-petshop:focus{
	color: #3C2800;
	background-color: #f7941d;
}

.category .rs-image-box .title a{
	text-transform: capitalize;
}

.our-brand .owl-carousel .owl-item img{
	width: 80%;
	margin: 0 auto;
}

.news-form ul li .form-control{
	height: 45px;
	border-radius: 0;
	margin-bottom: 10px;
}

.news-form ul{
	padding-left: 0;
}

.news-form ul li{
	display: inline-block;
}

.news-form ul li .btn-secondary {
	position: relative;
	top: -2px;
	height: 45px;
	min-width: auto;
	border-radius: 0;
	padding: 10px 15px;
    line-height: 28px;
}

.cta-1 .body-text{
	float: none;
	max-width: 100%;
}

.our-brand .best-carousel .owl-controls .owl-nav [class*="owl-"],
.our-brand .best-carousel .owl-controls .owl-nav [class*="owl-"]:hover,
.our-brand .best-carousel .owl-controls .owl-nav [class*="owl-"]:focus,
.testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"],
.testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover,
.testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus{
	background-color: transparent;
}

.our-brand .best-carousel .owl-controls .owl-nav [class*="owl-"],
.testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"]{
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 0;
	width: 20px;
	height: 30px;
	margin: auto;
}

.our-brand .best-carousel .owl-controls .owl-nav .owl-prev,
.testimonials .owl-theme .owl-controls .owl-nav .owl-prev{
	left: 0;
}

.our-brand .best-carousel .owl-controls .owl-nav .owl-next,
.testimonials .owl-theme .owl-controls .owl-nav .owl-next{
	right: 0;
}

.our-brand .best-carousel .owl-controls .owl-nav [class*="owl-"]::after,
.testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"]::after{
	position: absolute;
	top: 0;
	color: #3c2800;
	font-size: 50px;
	font-family: 'FontAwesome';
}

.our-brand .best-carousel .owl-controls .owl-nav .owl-prev:after,
.testimonials .owl-theme .owl-controls .owl-nav .owl-prev:after{
	left: 0;
	content: '\f0d9';
}

.our-brand .best-carousel .owl-controls .owl-nav .owl-next:after,
.testimonials .owl-theme .owl-controls .owl-nav .owl-next:after{
	right: 0;
	content: '\f0da';
}

.our-brand .best-carousel .owl-controls .owl-nav [class*="owl-"]:hover:after,
.our-brand .best-carousel .owl-controls .owl-nav [class*="owl-"]:focus:after,
.testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover:after,
.testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus:after{
	color: #f7941d;
}

.client-img{
	border: 0;
}

.client-img:hover{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.cat-list{
	position: relative;
}

.cat-list .body-text{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	height: 320px;
	margin: auto 0;
	transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cat-list:hover .body-text{
	transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}

.cat-list .body-text ul{
	margin-left: 0;
	padding-left: 0;
}

.cat-list .body-text ul li{
	min-width: 180px;
	display: inline-block;
}

.cat-list .body-text .food-link{
	position: relative;
	color: #fff;
	padding: 5px 0;
	text-align: center;
	display: inline-block;
}

.cat-list .body-text .food-link:after{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	width: 0;
	height: 2px;
	margin: 0 auto;
	background-color: #F7941D;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cat-list .body-text .food-link:hover:after,
.cat-list .body-text .food-link:focus:after{
	width: 100%;
}

.cat-list .body-text .btn-petshop{
	color: #fff;
	display: block;
	width: max-content;
	margin: 20px auto 0;
	background: transparent;
	border: 2px solid #F7941D;
}

.cat-list .body-text .btn-petshop:hover,
.cat-list .body-text .btn-petshop:focus{
	background-color: #f7941d;
}

.testimonials .col-lg-6{
	padding: 0;
}

.testi-carousel{
	padding: 30px;
	text-align: center;
	background-color: #3c2800;
}

.testi-des h2{
	color: #f7941d;
}

.testi-des p{
	width: 80%;
	color: #fff;
	margin: 0 auto 20px;
}

.testi-des{
	padding: 50px 50px 0;
}

.testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"]{
	color: rgba(0,0,0,0);
}

.testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"]:after{
	color: #f7941d;
}

.testimonials .owl-theme .owl-controls .owl-nav .owl-next{
    right: 20px;
}

.testimonials .owl-theme .owl-controls .owl-nav .owl-prev{
    left: 30px;
}

.testi-bgimg,
.testi-carousel{
	min-height: 432px;
}

.testi-bgimg{
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: center;
	background-image: url('../images/testi-bg2.jpg');
}

.testimonial-author{
	position: relative;
	color: #fff;
	font-size: 22px;
	width: max-content;
	padding: 5px 30px 8px;
	display: inline-block;
	transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
}

.testimonials-author-name{
	position: relative;
	z-index: 9;
	color: #fff;
}

.active-hover svg path{
	fill: #f7941d;
	stroke: #f7941d;
}

.testimonial-author svg{
    position: absolute;
    top: 0;
    z-index: -1;
}

.testimonial-author svg.active-hover-right{
    right: 0;
}

.testimonial-author svg.active-hover-left{
	left: 0;
}

.testimonial-author .active-hover-middle{
    position: absolute;
    top: 0;
    left: 8px;
    height: 100%;
    border-radius: 4px;
    width: calc(100% - 16px);
    background-color: #f7941d;
}

.care-img{
	position: relative;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url("../images/pattern_bg.jpg");
}

.care-img img{
	width: 100%;
	height: auto;
}

.care-img-des{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 7% 7% 7% 34%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.care-img .mkdf-banner-image {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	border-radius: 5px;
	overflow: hidden
}

.care-img .mkdf-banner-image>img {
	-webkit-transform: translateX(-5px) scale(1.03);
	-ms-transform: translateX(-5px) scale(1.03);
	transform: translateX(-5px) scale(1.03);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s
}

.care-img .mkdf-banner-image img {
	display: block
}

.care-img .mkdf-banner-image .mkdf-banner-foreground-image img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.care-img .mkdf-banner-text-holder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	padding: 7% 7% 7% 38%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.care-img .mkdf-banner-text-outer {
	position: relative;
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%
}

.care-img .mkdf-banner-text-inner {
	position: relative;
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle
}

.care-img .mkdf-banner-title-holder {
	display: inline-block;
	position: relative;
	padding: 2px 13px 4px 9px;
	margin-left: -9px;
	top: -2px;
	margin-bottom: -4px;
	z-index: 999;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out
}

.care-img .mkdf-banner-title-holder .mkdf-active-hover-middle {
	position: absolute;
	top: 0;
	left: 8px;
	width: calc(100% - 16px);
	height: 100%;
	border-radius: 4px;
	background-color: #fff
}

.care-img .mkdf-banner-title-holder svg {
	position: absolute;
	top: 0
}

.care-img .mkdf-banner-title-holder svg path {
	fill: #fff;
	stroke: #fff
}

.care-img .mkdf-banner-title-holder svg.mkdf-active-hover-left {
	left: 0
}

.care-img .mkdf-banner-title-holder svg.mkdf-active-hover-right {
	right: 0
}

.care-img .mkdf-banner-title-holder .mkdf-active-hover {
	clip-path: circle(0);
	-webkit-clip-path: circle(0);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-left: -10px;
	margin-top: -2px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s
}

.care-img .mkdf-banner-title-holder .mkdf-banner-title {
	position: relative;
	color: inherit;
	z-index: 99;
	margin: 0;
}

.care-img:hover .mkdf-banner-title-holder,
.care-img.active .mkdf-banner-title-holder{
	color: #f8931d;
}

.care-img:hover .mkdf-banner-title-holder .mkdf-active-hover,
.care-img.active .mkdf-banner-title-holder .mkdf-active-hover{
	clip-path: circle(150%);
	-webkit-clip-path: circle(150%);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s
}

.care-img:hover .cust-dropdown-menu .mkdf-banner-title-holder .mkdf-active-hover{
	clip-path: circle(0);
	-webkit-clip-path: circle(0);
}

.care-img:hover .cust-dropdown-menu .mkdf-banner-title-holder{
	color: #fff;
}

.care-img .mkdf-banner-text,
.care-img .mkdf-banner-title-holder{
	color: #fff;
}

.care-img .mkdf-banner-text{
	padding-top: 10px;
}

.care-img .cust-dropdown-menu .mkdf-banner-title-holder:hover .mkdf-active-hover{
	clip-path: circle(150%) !important;
	-webkit-clip-path: circle(150%) !important;
}

.care-img .cust-dropdown-menu .mkdf-banner-title-holder:hover .mkdf-active-hover{
	color: #f8931d !important;
}

.care-img .cust-dropdown-menu .mkdf-banner-title-holder{
	display: block;
}

.stiky .care-img .mkdf-banner-title-holder .mkdf-active-hover-middle{
	background-color: #3c2800;
}

.stiky .care-img .mkdf-banner-title-holder svg path{
	fill: #3c2800;
	stroke: #3c2800;
}

.stiky .care-img .mkdf-banner-title-holder .mkdf-banner-title{
	color: #f7941d;
}

.rs-shop-box{
	position: relative;
}

.link-wish{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 99;
	color: #fff;
	padding: 10px;
	line-height: 1;
	background: #3c2800;
}

.fill-heart{
	color: #f7941d;
}

/* --- Home Css End --- */

/* --- Footer Css Start --- */

.footer,
.bgi-cover-center{
	background-position: right;
	background-attachment: fixed;
}

.footer .footer-item .logo-bottom{
	width: 80px;
}

.footer .footer-item .list li{
	padding-top: 0;
	padding-bottom: 0;
}

.footer .fcopy .ftex a:hover{
	color: #fff !important;
}

/* --- Footer Css End --- */

/* --- Product List Css Start --- */

.product-list .rs-accordion .title .btn{
	padding: 10px 50px;
}

.checkmark,
.select-wrap select,
.product-list .rs-accordion .title .btn,
.product-list .rs-accordion .title .btn:before,
.product-list .rs-accordion .title .btn:after{
	transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.product-list .rs-accordion .title .btn::before{
	top: 0;
	bottom: 0;
	height: 24px;
	margin: auto;
}

.sort-div{
	text-align: right;
}

.select-wrap select{
	border: 0;
	color: #fff;
	border-radius: 0;
	appearance: none;
	-webkit-appearance: none;
	background-color: #3c2800;
}

.select-wrap select:focus{
	color: #fff;
	box-shadow: none;
	background-color: #3c2800;
	border-color: transparent;
}

.product-list .select-wrap{
	position: relative;
	width: 200px;
	margin-left: auto;
	margin-top: -15px;
}

.product-list .select-wrap:after{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15px;
	content: '\f0d7';
	color: #fff;
	height: 10px;
	margin: auto;
	font-size: 18px;
	line-height: 10px;
	pointer-events: none;
	font-family: 'FontAwesome';
}

.cust-check{
	position: relative;
	color: #3c2800;
	display: block;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.4;
	padding-left: 30px;
	margin-bottom: 12px;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	text-transform: capitalize;
}

.cust-check input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark{
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid #3c2800;
}

.cust-radio .checkmark{
	border-radius: 50%;
}

.cust-check input:checked ~ .checkmark{
  	background-color: #3c2800;
}

.checkmark:after{
	content: "";
	position: absolute;
	display: none;
}

.cust-check input:checked ~ .checkmark:after{
  	display: block;
}

.cust-check .checkmark:after{
	top: -2px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 5px;
	height: 10px;
	margin: auto;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.card-body .form-control{
	color: #3c2800;
	border-radius: 0;
	border-color: #3c2800;
}

.card-body .form-control:focus{
	box-shadow: none;
	border-color: #3c2800;
}

/* --- Product List Css End --- */

/* --- Range Slider Css Start --- */

.slider-labels{
  	margin-top: 10px;
}

.noUi-target,
.noUi-target *{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
	touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.noUi-target{
	position: relative;
	direction: ltr;
}

.noUi-base{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.noUi-origin{
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

.noUi-handle{
  	position: relative;
  	z-index: 1;
}

.noUi-stacking .noUi-handle{
  	z-index: 10;
}

.noUi-state-tap .noUi-origin{
  	transition: left 0.3s,top .3s;
  	-webkit-transition: left 0.3s,top .3s;
}

.noUi-state-drag *{
  	cursor: inherit !important;
}

.noUi-base,
.noUi-handle{
  	transform: translate3d(0,0,0);
  	-webkit-transform: translate3d(0,0,0);
}

.noUi-horizontal{
  	height: 4px;
}

.noUi-horizontal .noUi-handle{
	top: -7px;
	left: -7px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #3C2800;
}

.noUi-background{
  	background: #D6D7D9;
}

.noUi-connect{
  	background: #F7941D;
  	transition: background 450ms;
  	-webkit-transition: background 450ms;
}

.noUi-origin,
.noUi-target{
  	border-radius: 2px;
}

.noUi-draggable{
  	cursor: w-resize;
}

.noUi-vertical .noUi-draggable{
  	cursor: n-resize;
}

.noUi-handle{
	cursor: default;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.noUi-handle:active{
	top: -14px;
	left: -14px;
	background-clip: padding-box;
	border: 8px solid rgba(53,93,187,0.38);
	-webkit-background-clip: padding-box;
}

[disabled].noUi-connect,
[disabled] .noUi-connect{
  	background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle{
  	cursor: not-allowed;
}

.caption span{
	color: #3c2800;
}

/* --- Range Slider Css End --- */

/* --- About Us Css Start --- */

.about-des{
	padding: 30px 0;
}

.about-des h1,
.about-des h2,
.about-des h3,
.about-des h4,
.about-des h5{
	color: #3c2800;
	font-size: 36px;
}

/* --- About Us Css End --- */

/* --- Produt Detail Css Start --- */

.product-detail .zoom{
	position: relative;
	display:inline-block;
}

.product-detail .zoom img{
	display: block;
	width: 100%;
}

.related-product{
	padding-top: 50px;
}

.related-head{
	color: #3c2800;
	font-size: 30px;
	text-align: center;
	text-transform: capitalize;
}

.product-des .btn.btn-cart{
	width: 100%;
	margin: 30px 0;
	font-size: 18px;
	font-weight: bold;
	background: #f7941d;
	text-transform: capitalize;
}

.product-des h3{
	color: #3c2800;
}

.product-des .price{
	font-size: 18px;
}

.stock span{
	color: green;
}

.product-des .select-wrap{
	position: relative;
}

.product-des .select-wrap select{
	cursor: pointer;
}

.product-des .select-wrap:after{
	position: absolute;
	top: 0;
	right: 15px;
	bottom: 0;
	content: '\f0d7';
	color: #fff;
	height: 20px;
	margin: auto;
	font-size: 18px;
	line-height: 20px;
	pointer-events: none;
	font-family: 'FontAwesome';
}

/* --- Produt Detail Css End --- */

/* --- Cart Css Start --- */

.cart,
.login{
	padding: 50px 0;
}

.cart .checkout-des{
	border: 2px solid #3c2800;
}

.cart .checkout-des ul{
	margin: 0;
	padding: 0 15px;
	border-bottom: 1px solid #3c2800;
}

.cart .checkout-des ul:last-child{
	border-bottom: 0;
	background: #f8931d;
}

.cart .checkout-des ul li{
	color: #3c2800;
	display: inline-block;
}

.cart .checkout-des ul:last-child li{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

.cart .checkout-des ul li:last-child{
	float: right;
}

.cart .checkout-head{
	color: #fff;
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 500;
	padding: 10px 15px;
	background: #3c2800;
	text-transform: capitalize;
}

.cart-table .btn-delete{
	width: auto;
	font-size: 18px;
	min-width: auto;
	border-radius: 0;
	padding: 3px 10px;
	background-color: #e61515;
}

.cart-table .btn-delete:hover,
.cart-table .btn-delete:focus{
	color: #fff;
}

.cart-table table thead{
	background: #3c2800;
}

.cart-table table thead tr th{
	color: #fff;
	border-bottom: 0;
}

.cart-table table th,
.cart-table table td{
	border-top: 0;
	vertical-align: middle;
}

.cart-table table tbody tr td img{
	width: 80px;
}

.cart-table table tbody tr td,
.cart-table table tbody tr th,
.cart-table table tbody tr a{
	color: #3c2800;
}

.cart-table table tbody tr:nth-child(even){
	background-color: rgba(248, 147, 29, 0.1);
}

.cart-table table tbody tr td:first-child{
	width: 100px;
}

.cart-table table tfoot{
	background: #3c2800;
}

.cart-table table tfoot .btn-continue{
	float: right;
	display: block;
	border-radius: 0;
	background: #f5941c;
	padding: 10px 20px;
	width: max-content;
}

.cart-table table tbody tr td .btn-number{
	position: relative;
	top: -2px;
	min-width: auto;
	padding: 5px 10px;
}

.input-number,
.cart-table table tbody tr td .btn-number{
	height: 35px;
}

.input-number{
	width: 100px;
	display: inherit;
	border-radius: 0;
}

.input-number:focus{
	box-shadow: none;
}

/* --- Cart Css End --- */

/* --- Login Css Start --- */

.login form{
	padding: 30px;
}

.login-form{
	border: 2px solid #3c2800;
}

.login-form h3{
	margin: 0;
	color: #fff;
	padding: 15px;
	font-size: 30px;
	text-align: center;
	background-color: #3c2800;
	text-transform: uppercase;
}

.login-form .btn-login{
	display: block;
	font-size: 18px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	margin: 40px auto 0;
	background: #3c2800;
}

.login-form .btn-login:hover,
.login-form .btn-login:focus{
	color: #fff;
	background-color: #f7941d;
}

.login-form .form-control{
	height: 50px;
	color: #3c2800;
	border-radius: 0;
}

.login-form .form-control:focus{
	box-shadow: none;
	border-color: #3c2800;
}

.login-form label{
	text-transform: capitalize;
}

.login-form label span{
	color: red;
}

.login-form .pet-detail-head{
	margin: 20px 0 30px;
}

.login-form .select-wrap select{
	border: 1px solid #ced4da;
	background-color: transparent;
}

.login-form .select-wrap select:focus{
	color: #3c2800;
}

.login-form .select-wrap{
	position: relative;
}

.login-form .select-wrap::after{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15px;
	color: #3c2800;
	content: '\f0d7';
	height: 12px;
	margin: auto;
	font-size: 18px;
	line-height: 12px;
	font-family: 'FontAwesome';
}

.login-form .select-wrap select option[disabled="disabled"]{
	color: #3c2800;
}

.login-form .btn-add{
	margin-top: 0;
	min-width: auto;
	font-size: 16px;
	font-weight: 500;
	padding: 5px 15px;
}

.cust-checkbox{
	position: relative;
	display: block;
	margin: 15px 0;
	cursor: pointer;
	font-size: 16px;
	padding-left: 35px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cust-checkbox input{
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	cursor: pointer;
}

.checkmark{
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	border: 2px solid #eee;
}

.cust-checkbox input:checked ~ .checkmark{
  	background-color: #3c2800;
}

.checkmark:after{
	position: absolute;
	content: "";
	display: none;
}

.cust-checkbox input:checked ~ .checkmark:after{
  	display: block;
}

.cust-checkbox .checkmark:after{
	top: 5px;
	left: 0;
	right: 0;
	margin: auto;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
} 

/* --- Login Css End --- */

/* --- Checkout Css Start --- */

.checkout-header{
	padding: 15px 0;
	text-align: center;
}

.header-logo img{
	width: 100px;
}

.cust-radio label,
.mail-note{
	color: #666;
	display: block;
	font-size: 12px;
	padding-top: 5px;
}

.rs-accordion .title .btn,
.rs-accordion .title .btn-light,
.rs-accordion .title .btn-primary,
.rs-accordion .title .btn-secondary{
	font-weight: 600;
	font-family: 'Nunito';
}

.checkout .card-body{
	border-top: 0;
	border: 1px solid;
}

.checkout .card{
	margin-bottom: 10px;
}

.show-email a{
	display: block;
	margin-top: 10px;
	width: max-content;
}

.show-email,
.show-account{
	display: none;
}

.hide-email,
.hide-account{
	display: block;
}

.checkout .login-form{
	border: 0;
}

.checkout .login-form .form-control{
	border-color: #ced4da;
}

.checkout .login-form .form-control:focus{
	border-color: #3c2800;
}

.checkout .col-3{
	padding-right: 0;
}

.checkout .rs-accordion .title .btn{
	padding-top: 15px;
	padding-bottom: 15px;
}

.checkout .rs-accordion .title .btn::before{
	top: 15px;
}

.completed h3{
	position: relative;
}

.completed h3::after{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15px;
	height: 17px;
	margin: auto;
	line-height: 1;
	content: '\f00c';
	font-family: 'FontAwesome';
}

.checkout .rs-accordion .completed .btn{
	background-color: #3C2800;
}

.checkout .rs-accordion .completed .btn:before{
	color: #f79419;
}

.checkout .cart-table table tbody tr td:first-child{
	width: 180px;
}

.checkout .cart-table table tbody tr td,
.checkout .cart-table table tbody tr th,
.checkout .cart-table table tbody tr a{
	color: #3c2800;
}

.checkout .checkout-des ul li,
.checkout .cart-table table thead tr th,
.checkout .cart-table table tbody tr td,
.checkout .cart-table table tbody tr th,
.checkout .cart-table table tbody tr a{
	font-size: 12px;
}

.checkout .checkout-head,
.checkout .checkout-des ul:last-child li{
	font-size: 14px;
}

.checkout .checkout-des ul li{
	font-size: 12px;
}

.checkout .checkout-des ul:last-child li{
	font-size: 14px;
}

.checkout .checkout-des ul{
	padding: 0 5px;
}

.checkout .cart{
	padding: 0;
}

.btn-continue{
	padding: 10px;
	margin-top: 40px;
	border-radius: 0;
	background-color: #3C2800;
	width: max-content !important;
	text-align: center !important;
}

.btn-continue:hover,
.btn-continue:focus,
.checkout .coupon-code ul li .btn-apply:hover,
.checkout .coupon-code ul li .btn-apply:focus{
	color: #fff;
	background-color: #F7941D !important;
}

.checkout .coupon-code ul{
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 0;
}

.checkout .coupon-code ul li{
	list-style-type: none;
}

.checkout .coupon-code ul li .btn-apply{
	text-align: center !important;
}

.checkout{
	padding: 50px 0;
}

.edit-des{
	position: absolute;
	color: #fff;
	top: 0;
	right: 50px;
	bottom: 0;
	height: 20px;
	margin: auto;
	line-height: 1;
	display: none;
}

.completed .edit-des{
	display: block;
}

.checkout .nav-pills .nav-link{
	font-size: 12px;
	margin-bottom: 5px;
}

.checkout .nav-pills .nav-link:hover,
.checkout .nav-pills .nav-link:focus,
.checkout .nav-pills .nav-link.active,
.checkout .nav-pills .show > .nav-link{
	color: #fff;
	background-color: #3c2800;
}

.checkout-tab h4{
	color: #3c2800;
	font-weight: normal;
}

.payment-tab .tab-content{
	padding: 0 15px;
	border: 1px solid #3c2800;
}

.payment-tab .col-lg-3{
	padding-right: 0;
}

.btn-edit{
	padding: 0 !important;
	width: 40px !important;
	height: 40px !important;
	min-width: auto !important;
	margin-top: 30px !important;
	line-height: 40px !important;
	border-radius: 50% !important;
	text-align: center !important;
}

.btn-del{
	margin-top: -40px !important;
}

.modal .login-form{
	border: 0;
}

.modal .btn-continue{
	display: block;
	margin: 20px auto;
}

.checkout-filldata{
	position: relative;
	padding: 15px;
	margin-bottom: 30px;
	border: 1px solid #3c2800;
}

.checkout-filldata h4{
	margin: 0 0 10px;
	color: #3c2800;
	font-weight: 500;
}

.checkout-filldata p.mobile-no{
	color: #3c2800;
}

.checkout-filldata p{
	font-size: 14px;
	margin-bottom: 10px;
}

.checkout-filldata .btn-continue{
	width: 100% !important;
	margin-top: 0 !important;
	display: block !important;
	font-size: 14px !important;
}

.checkout-filldata .check-icon{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	padding: 5px;
	font-size: 12px;
	background-color: #6c6;
}

.fa-address-book:before{
	content: '\f2b9';
	font-family: 'FontAwesome';
}

/* --- Checkout Css End --- */

/* --- My Account Css Start --- */

.profile-tab{
	background: #3c2800;
}

.profile-tab .nav-link{
	color: #fff;
	padding: 15px;
	border-radius: 0;
}

.profile-tab .nav-pills .nav-link:hover,
.profile-tab .nav-pills .nav-link:focus,
.profile-tab .nav-pills .nav-link.active,
.profile-tab .nav-pills .show > .nav-link{
	color: #fff;
	background-color: #f7941d;
}

.myaccount .payment-tab .tab-content{
	padding: 0;
}

.profile-head{
	color: #fff;
	padding: 15px;
	background: #3c2800;
	font-weight: normal;
	font-size: 22px !important;
	margin: 0 0 20px !important;
	text-align: left !important;
	text-transform: capitalize !important;
}

.profile-head i{
	padding-right: 5px;
}

.personal-detail{
	padding: 0 15px 30px;
}

.personal-detail h4{
	color: #3c2800;
	font-weight: normal;
	text-transform: capitalize;
}

.personal-label{
	padding-top: 15px;
}

.pet-detail{
	padding-top: 15px;
	border-top: 1px solid #3c2800;
}

.myaccount .btn-continue{
	display: block;
	margin: 0 auto 30px;
}

.profile-tab .nav-link i{
	padding-right: 5px;
}

.personal-detail .cust-check{
	position: relative;
	top: 10px;
	left: 10px;
}

.stock{
	margin: 0;
	text-align: center;
	text-transform: capitalize;	
}

.available{
	color: #2eb135;
}

.out-of-stock{
	color: red;
}

.fa-trash:after{
	content: '\f1f8';
	font-family: 'FontAwesome';
}

.personal-detail .btn-edit{
	margin-top: 0 !important; 
	background-color: #3c2800;
}

.personal-detail .btn-edit:hover,
.personal-detail .btn-edit:focus{
	color: #fff;
}

.myaccount .personal-detail .btn-continue{
	margin: 0 auto 15px;
}

.myaccount .personal-detail .change-list{
	text-align: center;
}

.myaccount .personal-detail .change-list .btn-continue{
	margin: 0 auto 15px;
	display: inline-block;
}

.personal-detail .cart-table table tbody tr td:first-child{
	width: 220px;
}

.search-field{
	position: relative;
}

.search-field .form-control{
	padding-right: 45px;
}

.search-field .btn-search{
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	min-width: auto;
	border-radius: 0;
	padding: 10px 15px;
	width: max-content;
	background: #3c2800;
}

.search-field .btn-search:hover,
.search-field .btn-search:focus{
	color: #fff;
	background-color: #f7941d;
}

.search-order .offset-lg-8.col-lg-4{
	padding-bottom: 30px;
}

/* --- My Account Css End --- */

.xzoom-gallery {
    margin-top: 10px
}

.xzoom {
    margin-top: 40px
}