.zoom{
    position: relative;
    height: 400px;
}

.zoom-main{
    position: relative;
    height: 80%;
    text-align: center;
}
.zoom-thumb-hide .zoom-main{
    height: 100%;
}

.zoom-main span{
    position: relative;
    height: 100%;
    width: 100%;
    cursor: zoom-in;
    overflow: hidden;
    display: inline-block;
    background-size: 200%;
    background-repeat: none;
    background-position: 50% 50%;
}
.zoom-right .zoom-main span{
    left: 0;
}

.zoom-main img{
    height: 100%;
    display: block; 
    background: #fff;
    transition: opacity .5s;
}

.zoom-main img:hover{
    opacity: 0;
}

.zoom-right .zoom-main{
    height: 100%;
    float: left;
    padding-right: 5px;
}

.zoom-thumb{
    height: 20%;
    padding: 5px;
    display: flex;
    text-align: center;
}

.zoom-right .zoom-thumb{
    display: inline;
}

.zoom .zoom-thumb a{
    padding: 5px;
    height: 100%;
    cursor: pointer;
    display: inline-block;
}
.zoom-right .zoom-thumb a{
    float: left;
    height: 20%;
    display: inline-block;
}

.zoom .zoom-thumb a img{
    height: 100%;
}
.zoom-left .zoom-main,
.zoom-left .zoom-thumb a{
    width: auto;
    float: right;
}

@media only screen and (max-width: 735px){
    .zoom img{
        width: auto;
        height: auto;
        max-width: 100%;
    }
    .zoom .zoom-thumb a img{
        width: auto;
    }
    .zoom-main,
    .zoom-thumb a{
        float: none !important;
    }
    .zoom-main{
        height: auto !important;
    }
    .zoom .zoom-thumb{
        height: 100%;
        padding: 5px;
        display: block;
        text-align: center !important;
    }
    .zoom-thumb a{
        height: 15% !important;
        display: inline-block !important;
    }
}