label.error {
    font-size: 11px;
    color: #e81123
}

label.success {
    font-size: 11px;
    color: #3c763d
}

div.error {
    font-size: 11px;
    color: #e81123
}

.selected.not(:label) {
    border: 3px;
    border-top-color: currentcolor;
    border-top-style: none;
    border-right-color: currentcolor;
    border-right-style: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-left-color: currentcolor;
    border-left-style: none
}

.float-label-control {
    margin-bottom: 2px;
    margin-top: 30px
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 9999
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: #000;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite
}

span.required {
    color: #e81123
}

span {
    cursor: pointer
}

.container-fluid .info-box-content span {
    color: #000
}

.hidden {
    display: none
}

.table td, .table th {
    padding: 8px
}

.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0
}

.img-wrap .delete-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #fff;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%
}

.img-wrap .delete-icon i {
    color: red
}

.img-wrap:hover .close {
    opacity: 1
}

.label-warning {
    background-color: #f0ad4e;
    margin: -4px 1px 0 0;
    position: absolute;
    width: 12px;
    border-radius: 7px;
    height: 17px;
    color: #fff
}

.note-popover {
    display: none
}

.modal.show {
    z-index: 9999
}

.attribute-image {
    max-width: 58px;
    max-height: 50px;
    overflow: hidden;
}

.choose-color ul li {
    cursor: pointer
}

.choose-color ul li.active {
    padding: 0
}

.choose-color ul li .blue-color {
    height: 100%;
    width: 100%;
    margin-left: 0;
    padding: 5px;
    font-weight: 700
}

.choose-color ul li.active .blue-color {
    height: 100%;
    width: 100%;
    margin-left: 0;
    padding: 5px
}

.add-to-cart.disabled {
    opacity: .5;
    cursor: not-allowed
}

.quantity-input {
    max-width: 50px
}

.cart-product-img img {
    max-height: 110px;
    max-width: 110px
}

.mens-clothes-img img {
    max-width: 250px;
    max-height: 250px
}

.order-detail-image {
    max-width: 90px;
    max-height: 90px
}

.order-detail-attr-img {
    max-width: 40px;
    max-height: 40px
}

.choose-size {
    margin-top: 10px
}

.clothes-section-box img {
    max-height: 275px;
    max-width: 275px
}

.cart-product-content {
    width: 70%
}

.cart-product-content .col-md-3 {
    min-width: 100px
}

li.cancel-btn {
    width: 50px
}

li.cancel-btn .cancel i {
    padding-top: 23%
}

.choose-size ul li .size {
    padding-top: 17%
}

.choose-size ul li .size.attr-img {
    padding-top: 0
}

.clothes-section-box.text-center .new-link {
    color: #000
}

b strike {
    color: #d3d3d3;
    font-size: 16px
}

.new-link {
    color: #000
}

.new-link:hover {
    color: #000;
    cursor: pointer
}

.filter-item-list .filter-item.active {
    color: #fff;
    background-color: #000
}

.active-new-design .filter-item {
    background-color: #000;
    color: #fff
}

.variable-item.active-new-design {
    box-shadow: 0 0 0 2px #000
}

.sidebar-link-new ul {
    margin: 0;
    padding: 0
}

.sidebar-link-new ul ul {
    padding-left: 15px;
}

.sidebar-link-new ul li {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.sidebar-link-new ul li i {
    content: '\f105'!important;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free'!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    float: right;
}

#mini-cart li:not(.empty) {padding:15px 25px !important;}
.new-cart-popup .total-count{text-transform: uppercase;font-weight: bold;font-size: 13px;}
.new-cart-popup .remove-from-cart i{width: 23px;height: 23px;border-radius: 50px;border: 1px solid gray;padding-left: 5px;font-size: 14px;padding-top: 3px;color: gray;}
.new-cart-popup .col-md-8 b{font-size: 13px;font-weight: bold;padding: 0;margin: 0;width: 100%;float: left;line-height: 23px;}
#mini-cart .buttons>a:first-child {display: block;}
#mini-cart .buttons .checkout{padding-top: 15px !important;padding-bottom: 15px !important;height: 45px;}
.theme-link {color: #000;text-decoration: none;cursor: pointer;}
.theme-link:hover {color: #000;text-decoration: none;}
.active-user.active .dropdown-content{display: block;right:0px;}
.w-auto {width: auto !important;}
.theme-dropdown .dropdown-item.active,.theme-dropdown .dropdown-item:hover {color: #fff;text-decoration: none;background-color: #000;}
.our-brand .owl-carousel .owl-item  img{
    height: 140px!important;
}