label.error {font-size: 11px;color:#e81123;}
label.success {font-size: 11px;color:#3c763d;}
div.error {font-size: 11px;color:#e81123;}
.selected.not(:label){border: 3px;border-top-color: currentcolor;border-top-style: none;border-right-color: currentcolor;border-right-style: none;border-bottom-color: currentcolor;border-bottom-style: none;border-left-color: currentcolor;border-left-style: none;/*border-color: #00BFFF;*//*border-style: groove;*/}
.float-label-control {margin-bottom: 2px;margin-top: 30px;}

#cover-spin {position:fixed;width:100%;left:0;right:0;top:0;bottom:0;background-color: rgba(255,255,255,0.7);z-index:99999;}
@-webkit-keyframes spin {from {-webkit-transform:rotate(0deg);}to {-webkit-transform:rotate(360deg);}}
@keyframes spin {from {transform:rotate(0deg);}to {transform:rotate(360deg);}}
#cover-spin::after {content:'';display:block;position:absolute;left:48%;top:40%;width:40px;height:40px;border-style:solid;border-color:black;border-top-color:transparent;border-width: 4px;border-radius:50%;-webkit-animation: spin .8s linear infinite;animation: spin .8s linear infinite;}
/*New added admin*/
span.required{color:#e81123;}
span{cursor: pointer;}
.container-fluid .info-box-content span{color: #000;}
/*a {color:#17a2b8;}
a:hover {text-decoration: underline;color:#17a2b8;font-weight: 500;}*/
.hidden {display:none;}
.table td, .table th {padding:8px;}
.img-wrap {position: relative;display: inline-block;font-size: 0;}
.img-wrap .delete-icon {position: absolute;top: 2px;right: 2px;z-index: 100;background-color: #FFF;padding: 5px 2px 2px;color: #000;font-weight: bold;cursor: pointer;opacity: .2;text-align: center;font-size: 22px;line-height: 10px;border-radius: 50%;}
.img-wrap .delete-icon i {color:red;}
.img-wrap:hover .close {opacity: 1;}
.label-warning {background-color:#f0ad4e;margin: -4px 1px 0 0;position: absolute;width: 12px;border-radius: 7px;height: 17px;color:#fff;}
.note-popover {display:none;}
.modal.show{z-index: 9999;}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {background-color: #000000;color: #FFF;}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {background-color: #000000;color: #FFF;}
[class*=sidebar-dark-] .nav-treeview>.nav-item.menu-open>.nav-link {background-color: #000000;color: #FFF;}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover{background-color: #000000;color: #FFF;}
.card-primary.card-outline {border-top: 3px solid #000000;}
.img-listing{max-width: 100px;max-height: 100px;}