div.error {width:100%;font-size: 15px; color: #c82333;text-align: left;}
#cover-spin{position:fixed;width:100%;left:0;right:0;top:0;bottom:0;background-color:rgba(255,255,255,.7);z-index:9999;}@-webkit-keyframes spin{from{-webkit-transform:rotate(0)}to{-webkit-transform:rotate(360deg)}}@keyframes spin{from{transform:rotate(0)}to{transform:rotate(360deg)}}#cover-spin::after{content:'';display:block;position:absolute;left:48%;top:40%;width:40px;height:40px;border-style:solid;border-color:#343a40;border-top-color:transparent;border-width:4px;border-radius:50%;-webkit-animation:spin .8s linear infinite;animation:spin .8s linear infinite;}
.img-preview-sec {margin-top:10px;}
.img-preview {max-width: 100px;max-height: 100px;}
.img-listing{max-width: 100px;max-height: 100px;}
.pagination {float: right;}
.page-link {color:#869099;}
.page-link.active{z-index: 2;color:#869099;text-decoration: none;background-color:#e9ecef;border-color:#dee2e6;}
.required {color:red;}